@font-face {
    font-family: 'Argue DEMO';
    src: url('ArgueDEMO.woff2') format('woff2'),
        url('ArgueDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

